
build-test_dummy_server-V_Play_Desktop_Qt_5_11_1_MinGW-Debug/

main/debug/

main/ios/GoogleMobileAds\.framework/Headers/

build-main-Qt_5_11_1_iOS_V_Play-Debug/\.xcode/main\.build/Debug-iphoneos/main\.build/

build-main-Qt_5_11_1_iOS_V_Play-Debug/\.xcode/main\.build/Debug-iphoneos/Qt Preprocess\.build/

build-main-Qt_5_11_1_iOS_V_Play-Debug/Debug-iphoneos/main\.app/_CodeSignature/

build-main-Qt_5_11_1_iOS_V_Play-Debug/

build-main-Qt_5_11_1_iOS_V_Play-Release/

lib/

main/\.xcode/main\.build/

main/ios/GoogleMobileAds\.framework/

main/ios/GoogleMobileAdsSdkiOS-7\.35\.2/

main/ios/googlemobileadssdkios\.zip

main/main\.pro\.user

main/VPlayLive/Imports\.qml

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/android-build/\.gradle/3\.4/file-changes/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/android-build/\.gradle/3\.4/fileContent/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/android-build/\.gradle/3\.4/taskHistory/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/android-build/\.gradle/buildOutputCleanup/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/android-build/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Release/android-build/assets/--Added-by-androiddeployqt--/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Release/android-build/

build-main-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Release/
